html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    opacity: 0.5;
}

body
{
    background-color: rgba(31, 31, 31, 0.97);
    color: #e2e2e2;
}

header
{
    font-size: xx-large;
}

.thumbnail
{
    width: 150px;
    height: 150px;
}