html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:hover
{
    font-weight: 900;
}

body
{
    background-color: #1F1F1F;
    color: #b0b0b0;
}

header
{
    font-size: xx-large;
    padding: 5px;
    color: #e2e2e2;
    padding-bottom: 50px;
    padding-top: 30px;
}

header a{
    padding-left: 10px;
}

.fa
{
    color: #b0b0b0;
}

#gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: normal;
    text-align: center;
    font-size: small;
}

.thumbnail
{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: 1px #1F1F1F solid ;
}

.thumbnail:hover
{
    border: 1px rgba(226,226,226,0.3) solid;
}