html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
    color: inherit;
    font-size: x-small;
}

a:hover
{
    opacity: 0.5;
}

body
{
    background-color: #1F1F1F;
    color: #e2e2e2;
}

header
{
    font-size: xx-large;
}

#gallery{}

.thumbnail
{
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px #1F1F1F solid ;
}

.thumbnail:hover
{
    border: 1px #e2e2e2 solid;
}